<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/adminLayout :: htmlhead(title='BabyLog 后台首页')"></head>
<body class="am-with-topbar-fixed-top am-scrollable-vertical">

<div th:replace="layout/adminLayout :: header"></div>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div th:replace="layout/adminLayout :: sidebar"></div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">

            <div class="am-g">
                <br>
                <br>
                <p class="text-center">岁月如风，唯有此忆。
                    <span style="color:#0bb59b;">任凭时光匆匆，</span><span>记录点点滴滴。</span>
                    ---- 爸爸</p>
            </div>

        </div>
        <!-- footer-->
        <div th:replace="layout/adminLayout :: footer"></div>
    </div>


</div>
<!-- content end -->


</div>


</body>
</html>