<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: htmlhead(title='Baby Log')"></head>
<body class="am-with-topbar-fixed-top am-animation-fade">


<div class="apploginheader">
    <div class="am-g">
        <img th:src="@{/image/baby.png}" />
        <p class="text-center"><span style="color:#0bb59b;">任凭时光匆匆，</span><span>记录点点滴滴。</span></p>
    </div>
</div>
<div class="am-g am-g-fixed am-u-sm-centered ">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">

        <div class="tpl-login">
            <div class="tpl-login-content">
                <div class="tpl-login-logo">

                </div>



                <form class="am-form tpl-form-line-form" th:action="@{/loginfrom}">
                    <div class="am-form-group">
                        <input type="text" class="tpl-form-input" name="username" placeholder="请输入账号">

                    </div>

                    <div class="am-form-group">
                        <input type="password" class="tpl-form-input" name="password" placeholder="请输入密码">

                    </div>







                    <div class="am-form-group">

                        <button type="submit" class="am-btn am-btn-success am-btn-block">提交</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





</body>
</html>