<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: htmlhead(title='add Log 添加数据')"></head>
<body th:class="am-with-topbar-fixed-top">

<div th:replace="layout/layout :: header"></div>



<div class="am-tabs am-g am-g-fixed am-animation-fade myfromtable" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">添加日记</a></li>
        <li><a href="#tab2">添加身高体重</a></li>

    </ul>

    <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
            <div class="addfrom am-g am-g-fixed am-animation-fade">
                <form class="am-form am-form-horizontal" th:action="@{/baby/saveBlog}">
                    <div class="am-form-group ">
                        <label for="baby_id" class="am-u-sm-3 am-form-label">宝贝 / Baby</label>
                        <div class="am-u-sm-9 am-radio">
                            <select  name="baby_id" id="baby_id">
                                <option th:each="baby : ${list}" th:value="${baby.id}" th:text="${baby.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="first" class="am-u-sm-3 am-form-label">第一次 / First</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="first" name="first" placeholder="第一次做过的事...">

                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="language" class="am-u-sm-3 am-form-label">语言 / Language</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="language" name="language" placeholder="学过的语言...">

                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="cognitive" class="am-u-sm-3 am-form-label">认知 / Cognitive</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="cognitive" name="cognitive" placeholder="认知了新的事物...">

                        </div>
                    </div>



                    <div class="am-form-group">
                        <label for="blog" class="am-u-sm-3 am-form-label">日志 / Blog</label>
                        <div class="am-u-sm-9">
                            <textarea class="" rows="5" id="blog" name="blog" placeholder="几十个字符记录那天孩子发生过的事情..."></textarea>

                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary">提交记录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="am-tab-panel am-fade" id="tab2">
            <div class="addfrom am-g am-g-fixed am-animation-fade">
                <form class="am-form am-form-horizontal" th:action="@{/baby/saveHealthy}">

                    <div class="am-form-group ">
                        <label for="baby_id" class="am-u-sm-3 am-form-label">宝贝 / Baby</label>
                        <div class="am-u-sm-9 am-radio">
                            <label><input type="radio" name="baby_id" id="baby_id" value="1" checked="checked">杨瑞曦</label>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="height" class="am-u-sm-3 am-form-label">身高 / Height</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="height" name="height" placeholder="请填写整数，单位：厘米">

                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="weight" class="am-u-sm-3 am-form-label">体重 / weight</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="weight" name="weight" placeholder="单位：公斤，最多请保留一位小数。">

                        </div>
                    </div>



                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary">提交记录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>






<div th:replace="layout/layout :: footer"></div>


</body>
</html>