/* Write your styles */


/*页尾*/
.footer p {
    color: #262626;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    background:#f5f5f5;
    border-color: #dddddd;
}


/*首页*/
.baby_a {
    background: #0bb59b;
    padding: 50px 0;
}
/*首页那年今天*/
.theday{
    padding:25px 0px;}

/*添加数据页*/
.myfromtable{
    margin-top:50px;}
/*登陆页*/
.apploginheader{    text-align: center;}

.mysearch{
    width:50%;
    margin-bottom: 15px;}




/*_________________________________________后台CSS*/

.admin-main {padding-top: 0px;}

.adduser{margin-top: 50px;}
.am-topbar-inverse{
    background-color: #5eb95e;
    border-color: #5eb95e;}