<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/adminLayout :: htmlhead(title='BabyLog Add Baby')"></head>
<body class="am-with-topbar-fixed-top am-scrollable-vertical">

<div th:replace="layout/adminLayout :: header"></div>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div th:replace="layout/adminLayout :: sidebar"></div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">

            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">Baby</strong> / <small>Add Baby</small></div>
            </div>
            <hr>

            <div class="am-g am-g-fixed adduser">


                <form class="am-form am-form-horizontal" th:action="@{/admin/baby/saveBaby}">

                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-2 am-form-label">BabyName</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="user-name" name="name" placeholder="BabyName">

                        </div>
                    </div>



                    <div class="am-form-group">
                        <label for="user-brithday" class="am-u-sm-2 am-form-label">brithday</label>
                        <div class="am-u-sm-10">
                            <input type="text" class="am-form-field" id="user-brithday" placeholder="请选择生日" data-am-datepicker readonly required name="brithday" />

                        </div>
                    </div>


                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" class="am-btn am-btn-primary">提交数据</button>
                        </div>
                    </div>
                </form>

            </div>


        </div>
        <!-- footer-->
        <div th:replace="layout/adminLayout :: footer"></div>
    </div>


</div>
<!-- content end -->


</div>


</body>
</html>